<main>
  <p *ngIf="error$ | async as error">{{ error }}</p>
  <section *ngIf="contact$ | async as contact">

    <app-contact-detail-name
      [contactName]="contact.name"
      [contactPicture]="contact.picture"
    ></app-contact-detail-name>

    <app-contact-detail-location
      [contactLocation]="contact.location"
    ></app-contact-detail-location>

  </section>
</main>
