<article class="contact-list__item">
  <aside class="contact-list__item-avatar">
    <img [src]="contact.picture.thumbnail" alt="Contact Avatar">
  </aside>
  <main class="contact-list__item-detail">
    <p class="contact-list__item-detail-name">{{ contact.name.last }}, {{ contact.name.first }}</p>
  </main>
</article>
