.contact-list__item {
  border-bottom: 1px solid var(--col-grey);
  display: flex;
  align-items: center;
  padding: .25em;
  cursor: pointer;
}
.contact-list__item-avatar {
  margin-right: .25em;
}
.contact-list__item-avatar img {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.contact-list__item-detail-name {
  margin: 0;
}
