<section>
  <h4>
    <span class="material-icons">location_on</span>
    Address
  </h4>

  <input [value]="contactLocation.street.number" disabled readonly class="contact-detail-input"/>
  <input [value]="contactLocation.street.name" disabled readonly class="contact-detail-input"/>
  <input [value]="contactLocation.city" disabled readonly class="contact-detail-input"/>
  <input [value]="contactLocation.postcode" disabled readonly class="contact-detail-input"/>
  <input [value]="contactLocation.country" disabled readonly class="contact-detail-input"/>

</section>

