button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-grey);
  border: 1px solid var(--col-grey-dark);
  color: var(--col-text-dark);
  border-radius: .2em;
  padding: .25em .5em;
  font-size: 1em;
}

.btn-primary {
  background-color: var(--col-primary);
  border-color: var(--col-primary-dark);
  color: white;
}

.btn-success {
  background-color: var(--col-success);
  border-color: var(--col-success-dark);
  color: white;
}

.btn-danger {
  background-color: var(--col-danger);
  border-color: var(--col-danger-dark);
  color: white;
}

.btn-outline-primary {
  border-color: var(--col-primary);
  background-color: transparent;
  color: var(--col-primary)
}

