:root {
  --col-primary: rgb(0, 122, 255);
  --col-primary-dark: rgb(10, 132, 255);
  --col-success: rgb(52, 199, 89);
  --col-success-dark: rgb(48, 209, 88);
  --col-danger: rgb(255, 59, 48);
  --col-danger-dark: rgb(255, 69, 58);
  --col-text-dark: rgb(28, 28, 30);
  --col-text-light: rgb(242, 242, 247);
  --col-grey: rgb(209, 209, 214);
  --col-grey-dark: rgb(174, 174, 178);
}
