<h4>Login Form</h4>

<form>
  <fieldset>
    <label for="username">Username</label>
    <section>
      <span class="material-icons">person</span>
      <input type="text"
             [(ngModel)]="username"
             placeholder="Enter your username"
             id="username"
             name="username">
    </section>

  </fieldset>

  <button type="button" [disabled]="loading$ | async" (click)="onLoginClick()" class="btn-outline-primary">
    <span *ngIf="loading$ | async">Loading</span>
    <span *ngIf="!(loading$ | async)">Login</span>
  </button>
</form>

<section *ngIf="error$ | async as error">
  <h4>Login unsuccessful</h4>
  <p>{{ error }}</p>
</section>
