<section class="contact-profile-photo">
  <img [src]="contactPicture.large" alt="Contact Profile Photo" />
</section>

<section class="contact-name">
  <h4><span class="material-icons">person</span> Contact name</h4>
  <input class="contact-detail-input" [value]="contactName.title" readonly disabled/>
  <input class="contact-detail-input" [value]="contactName.first" readonly disabled/>
  <input class="contact-detail-input" [value]="contactName.last" readonly disabled/>
</section>
