@import "./styles/variables.css";
@import "./styles/buttons.css";
@import "./styles/inputs.css";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

input, textarea, select, button {
  font-family: 'Work Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
