.contact-list {
  z-index: 99;
  position: fixed;
  transform: translateX(0);
  top: 0;
  min-width: 200px;
  background-color: white;
  border-right: 1px var(--col-grey) solid;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  max-height: 100vh;
  height: 100%;
  overflow-y: auto;
}
.contact-list.closed {
  transform: translateX(-110%);
}

@media screen and (min-width: 48em) {
  .contacts-page {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }
  .contact-list, .contact-list.closed {
    position: relative;
    transform: none;
  }
}

@media screen and (min-width: 68em){
  .contacts-page {
    grid-template-columns: 3fr 9fr;
  }
}

@media screen and (min-width: 100em){
  .contacts-page {
    grid-template-columns: 2fr 10fr;
  }
}
