<main class="contacts-page">

  <aside class="contact-list closed">

    <app-contact-list (contactClick)="handleContactClicked($event)"></app-contact-list>

  </aside>

  <div class="contact-detail">
    <app-contact-not-selected *ngIf="(contact$ | async) === null"></app-contact-not-selected>
    <router-outlet></router-outlet>
  </div>
</main>
